@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<div class="dashboard-body">
    <div class="dashboard-wraper">
        <div class="frm_submit_block">
            <h4>@ViewData["Title"]</h4>
            <div class="frm_submit_wrap">
                <partial name="_StatusMessage" for="StatusMessage" />
                <form id="change-password-form" method="post">
                    <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>
                    <div class="row">
                        <div class="form-group col-lg-12 col-md-6">
                            <label asp-for="Input.OldPassword" class="form-label"></label>
                            <input asp-for="Input.OldPassword" class="form-control" autocomplete="current-password" aria-required="true" />
                            <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="Input.NewPassword" class="form-label"></label>
                            <input asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                            <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                            <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group col-lg-12 col-md-12">
                            <button type="submit" class="btn btn-primary">Update password</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
