@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
    var isUserRole = User.IsInRole("User");
}

<div class="dashboard-body">
    <div class="dashboard-wraper">
        <div class="frm_submit_block">
            <h3>@ViewData["Title"]</h3>
            <partial name="_StatusMessage" for="StatusMessage" />
            <div class="frm_submit_wrap">
                <form id="profile-form" method="post" enctype="multipart/form-data" class="row">
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <div class="form-group col-md-6">
                        <label asp-for="Input.FullName" class="form-label"></label>
                        <input asp-for="Input.FullName" class="form-control" />
                        <span asp-validation-for="Input.FullName" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="Input.UserName" class="form-label"></label>
                        <input asp-for="Input.UserName" class="form-control" />
                        <span asp-validation-for="Input.UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="Email" class="form-label"></label>
                        <input asp-for="Email" class="form-control" disabled />
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="Input.PhoneNumber" class="form-label"></label>
                        <input asp-for="Input.PhoneNumber" class="form-control" />
                        <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                    </div>
                    @if (!isUserRole)
                    {
                        <div class="form-group col-md-6">
                            <label asp-for="Input.Address" class="form-label"></label>
                            <input asp-for="Input.Address" class="form-control" />
                            <span asp-validation-for="Input.Address" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="Input.City" class="form-label"></label>
                            <input asp-for="Input.City" class="form-control" />
                            <span asp-validation-for="Input.City" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="Input.State" class="form-label"></label>
                            <input asp-for="Input.State" class="form-control" />
                            <span asp-validation-for="Input.State" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="Input.Country" class="form-label"></label>
                            <input asp-for="Input.Country" class="form-control" />
                            <span asp-validation-for="Input.Country" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="Input.Zip" class="form-label"></label>
                            <input asp-for="Input.Zip" class="form-control" />
                            <span asp-validation-for="Input.Zip" class="text-danger"></span>
                        </div>

                        <!-- Agent SPECIALTIES option -->
                        <div class="form-group col-md-6">
                            <label asp-for="Input.Specialties" class="form-label"></label>
                            <select asp-for="Input.Specialties" class="form-control" multiple="multiple">
                                <option value="Buyer's Agent">Buyer's Agent</option>
                                <option value="Listing Agent">Listing Agent</option>
                                <option value="Relocation">Relocation</option>
                                <option value="Foreclosure">Foreclosure</option>
                                <option value="Short-Sale">Short-Sale</option>
                                <option value="Consulting">Consulting</option>
                            </select>
                            <span asp-validation-for="Input.Specialties" class="text-danger"></span>
                        </div>

                        <!-- Agent languages option -->
                        <div class="form-group col-md-6">
                            <label asp-for="Input.Languages" class="form-label"></label>
                            <select asp-for="Input.Languages" class="form-control" multiple="multiple">
                                <option value="English">English</option>
                                <option value="Mandarin">Mandarin</option>
                                <option value="Cantonese">Cantonese</option>
                                <option value="Arabic">Arabic</option>
                                <option value="French">French</option>
                                <option value="German">German</option>
                                <option value="Greek">Greek</option>
                                <option value="Italian">Italian</option>
                                <option value="Japanese">Japanese</option>
                                <option value="Korean">Korean</option>
                                <option value="Polish">Polish</option>
                                <option value="Russian">Russian</option>
                                <option value="Spanish">Spanish</option>
                                <option value="Thai">Thai</option>
                                <option value="Vietnamese">Vietnamese</option>
                            </select>
                            <span asp-validation-for="Input.Languages" class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-12">
                            <label asp-for="Input.About" class="form-label"></label>
                            <textarea asp-for="Input.About" class="form-control"></textarea>
                            <span asp-validation-for="Input.About" class="text-danger"></span>
                        </div>
                    }
                    
                    <!-- Agent Picture -->
                    <div class="frm_submit_block">
                        <h3>Profile Picture</h3>
                        <div class="frm_submit_wrap">
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <label>Upload Picture</label>
                                    <input type="file" name="profilepic" id="filepond" multiple>
                                    @* <div class="previews"></div>
                                    <div class="dropzone dz-clickable primary-dropzone" id="agentpicDropzone">
                                        <div class="dz-default dz-message">
                                            <i class="fa-solid fa-images"></i>
                                            <span>Drag & Drop To Upload Images</span>
                                        </div>
                                        <input type="hidden" id="uploadedImageUrl" name="Input.ProfilePicture" value="@Model.Input.ProfilePicture" />
                                    </div> *@
                                </div>
                            </div>
                        </div>
                    </div>

                    @if (!isUserRole)
                    {
                        <h3>Social Media</h3>
                        <div class="form-group col-md-6">
                            <label asp-for="Input.FacebookLink" class="form-label"></label>
                            <input asp-for="Input.FacebookLink" class="form-control" />
                            <span asp-validation-for="Input.FacebookLink" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="Input.XLink" class="form-label"></label>
                            <input asp-for="Input.XLink" class="form-control" />
                            <span asp-validation-for="Input.XLink" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="Input.LinkedInLink" class="form-label"></label>
                            <input asp-for="Input.LinkedInLink" class="form-control" />
                            <span asp-validation-for="Input.LinkedInLink" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label asp-for="Input.GoogleLink" class="form-label"></label>
                            <input asp-for="Input.GoogleLink" class="form-control" />
                            <span asp-validation-for="Input.GoogleLink" class="text-danger"></span>
                        </div>
                    }

                    
                    <div class="form-group col-lg-12 col-md-12 mt-4">
                        <button id="update-profile-button" type="submit" class="btn btn-theme btn-lg">Save Changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="https://unpkg.com/filepond-plugin-file-validate-type/dist/filepond-plugin-file-validate-type.js"></script>
    <script src="https://unpkg.com/filepond-plugin-file-validate-size/dist/filepond-plugin-file-validate-size.js"></script>
    <script src="https://unpkg.com/filepond-plugin-image-transform/dist/filepond-plugin-image-transform.js"></script>
    <script src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"></script>
    <script src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"></script>
    <script src="https://unpkg.com/filepond-plugin-image-crop/dist/filepond-plugin-image-crop.js"></script>
    <script src="https://unpkg.com/filepond/dist/filepond.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Register the plugins
            FilePond.registerPlugin(FilePondPluginFileValidateSize);
            FilePond.registerPlugin(FilePondPluginFileValidateType);
            FilePond.registerPlugin(FilePondPluginImagePreview);
            FilePond.registerPlugin(FilePondPluginImageResize);
            FilePond.registerPlugin(FilePondPluginImageTransform);
            FilePond.registerPlugin(FilePondPluginImageCrop);

            // Get a reference to the file input element
            const inputElement = document.querySelector('input[name="profilepic"]');

            // Create a FilePond instance
            const pond = FilePond.create(inputElement, {
                storeAsFile: true,
                name: "profilepic",
                imageResizeTargetWidth: 650,
                imageResizeTargetHeight: 650,
                imageResizeMode: "force",
                imageCropAspectRatio: 1,
                imageTransformOutputQuality: 90,
                // allowMultiple: true,
                maxFileSize: "5MB",
                maxFiles: 1,
                acceptedFileTypes: ['image/*'],
                instantUpload: false // Disable instant upload to use default form submission
            });
        });
    </script>
    </script>
}
