@model webapp.Models.Admin.ChangePasswordViewModel

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Change Password";
}

<div class="row align-items-center p-3 mt-3">
    <div class="col-auto">
        <h2>
            <a asp-controller="Admin" asp-action="UserList">
                <i class="fas fa-arrow-left"></i>
            </a>
            @ViewData["Title"]
        </h2>
    </div>
</div>

@if (TempData["Message"] != null)
{
    var statusMessageClass = TempData["Message"]?.ToString()?.StartsWith("Error") == true ? "danger" : "success";
    <div class="alert alert-@statusMessageClass alert-dismissible" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        @TempData["Message"]
    </div>
}

<div class="dashboard-body">
    <div class="dashboard-wraper">
        <form asp-action="ChangePassword" class="frm_submit_block" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger mb-4" role="alert"></div>

            <div class="frm_submit_wrap">
                <div class="row">
                    <div class="form-group">
                        <label asp-for="CurrentPassword" class="control-label"></label>
                        <input asp-for="CurrentPassword" class="form-control" />
                        <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="NewPassword" class="control-label"></label>
                        <input asp-for="NewPassword" class="form-control" />
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword" class="control-label"></label>
                        <input asp-for="ConfirmPassword" class="form-control" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-theme btn-lg">Change Password</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
