@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<section>
    <div class="container">
        <h1>@ViewData["Title"]</h1>
        @{
            if (@Model.DisplayConfirmAccountLink)
            {
                <p>
                    Please check your email to confirm your account.
                </p>
            }
            else
            {
                <p>
                    Please check your email to confirm your account.
                </p>
            }
        }
    </div>
</section>


