.validation-summary-errors ul{
    padding: 0 !important;
    margin: 0;
}
.truncate-multi-line {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.select2-container .select2-selection--single {
    height: 50px !important;
    border: 1px solid #e0ecf5 !important;
    font-size: 14px !important;
    background-image: none !important;
}

.select2-container--bootstrap-5 .select2-selection--single .select2-selection__rendered .select2-selection__placeholder{
    line-height: 2.5 !important;
}